<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    </head>
    <h1 style="background-color: white; color: #7ea2aa; font-size: 60px; padding: 20px 30px; text-align: center; font-family: 'Baloo Da 2', sans-serif;">
        Great Job!
    </h1>

    <h1 style="color: white; font-size: 40px; text-align: center; font-family: 'Baloo Da 2', sans-serif;">
        Have a good day!
    </h1>

    <body style="background-color: #7ea2aa;">
        <img src="{{url_for('static',filename='animal.png') }}" alt="My Image" style="height: 400px; width: 250px; position: absolute; right: 60%;"/>

    <form action = 'logout'>
        <button class='logout' style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 55%; right: 10%"> Thanks for saving our planet! </button>
    </form>

    </body>
</html>