<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    </head>

    <header style="text-align: center; background-color: white; color: #7ea2aa; font-size: 70px; padding: 20px 30px; font-family: 'Baloo Da 2', sans-serif;">
        What kind of plastic did you use?
    </header>

    <body style = "background-color: #7ea2aa;">
        
        <form action = "Bottles">
            <button class = "bottles" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 40%; right: 70%;"> Bottles <br> </button>
        </form>
        <br>
        <form action = "Utensils">
            <button class = "utensils" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 40%; right: 44%;"> Utensils <br> </button>
        </form>
        <br>
        <form action = "Bags">
            <button class = "bags" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 40%; right: 17%;"> Bags <br> </button>
        </form>
        <br>
        <form action = "Containers">
            <button class = "containers" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 61%; right: 68%;"> Containers <br> </button>
        </form>
        <br>
        <form action = "Other">
            <button class = "other" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 61%; right: 45.35%;"> Other <br> </button>
        </form>
        <br>
        <form action = "None">
            <button class = "none" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: white; color: #99BDC5; border-radius: 30px; position: absolute; top: 61%; right: 6%;"> I didn't use plastic today! <br> </button>
        </form>
        <br>
        <form action = "whatCounts">
            <button class = "what" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: gray; color: white; border-radius: 30px; position: absolute; top: 81%; right: 48%;"> What Counts as What? <br> </button>
        </form>
        <form action = "homePage">
            <button class = "home" style="padding: 15px 30px; font-size: 40px; font-family: 'Baloo Da 2', sans-serif; background-color: gray; color: white; border-radius: 30px; position: absolute; top: 81%; right: 27%;"> Home <br> </button>
        </form>
    </body>
</html>