@font-face {
    font-family: 'Raleway';
    src: url("{{ url_for('static', filename='fonts/BalooDa2-VariableFont_wght.ttf') }}") format('truetype');
}

h1 {
    text-shadow: 1px 1px 4px #000000;
    text-align: center;
    color: white;
    font-family: 'Raleway';
    font-size: xx-large;
}

body{
    background-color: #99BDC5;
    font-family: 'Raleway';
    color: white;
    text-align: center;
    font-size: larger;
}

input[type="text"] {
    width: 50%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
}