<!--templates/front.html-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="front.css">
</head>
<body>
    <h1 class = "title">
        Welcome to PlasTick!
    </h1>
    <div class = "container">
        <form action = "attempt.py" method ="GET">
            <input type="text" name="username"/>
            <input type ="submit" value="LOGIN"/>
        </form>
       
        </div>
         <p>
            PlasTick is a web application that allows users to track their plastic usage and waste. 
            Users can log in and record their plastic usage and waste, and the application will provide 
            statistics and visualizations to help users understand their plastic consumption. 
            PlasTick also provides tips and suggestions on how to reduce plastic usage and waste.
        </p>
</body> 
</html>